@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', 'Open Sans', Helvetica, sans-serif;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: inherit;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
